<!DOCTYPE html>
<html>
<head>
  <title>EcommerceApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% flash.each do |name,message| %>
  <div class="alert alert-<%=name%>" role="alert">

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong> <%=message%> </strong>
  </div>
  <%end%>


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Dresses and More</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <% if current_user%>
          <li><a href="/carted_products">Checkout</a></li>
          <%end%>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <% Category.all.each do |category| %>
              <li><%= link_to category.name.capitalize, "/products?category_id=#{category.id}" %></li>
              <%end%>
              <!-- <li><a href="#"></a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li> -->
            </ul>
          </li>
        </ul>
        <!--  <form class="navbar-form navbar-left"> -->
        <div class="form-group">
          <%= form_tag "/products/search", class: "navbar-form navbar-left", method: :post do %>
          <div class="form-group">
            <%= label_tag :user_search %>
            <%= text_field_tag :user_search %>
          </div>
          <%= submit_tag "Search Products" %>
          <% end %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!--     </form> -->
          <% if !current_user %>
          <li><a href="/users/signup">Sign Up</a></li>
          <li><a href="/login">Sign In</a></li>
          <%end%>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Show <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/products?sort=desc">Price (high to low)</a></li>
              <li><a href="/products?sort=asc">Price (low to high)</a></li>
              <li><a href="/products?discount=yes">Discount Items</a></li>
              <li role="separator" class="divider"></li>
              <% if current_user %>
              <li><%= link_to 'Logout','/logout', method: :delete%>
              <%end%>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="container">
    <%= yield %>
  </body>
  </html>
